<tr class="<%= post.current_token %>">
	<td><input type="checkbox" class="post_<%= post.current_token %>" id="post_<%= post.id %>" name="post_ids[]" value="<%= post.id %>" />
	<td class="post_title"><%= link_to h(post.title), post.permlink, {:target => "_blank"} %></td>
	<td><%= post.rails_version %></td>
	<td><%= post.reference_module %></td>
	<td id="post_<%= post.id %>_status"><%= post.current_status %></td>
	<td><%= link_to 'Edit', edit_post_authority_url(post) %></td>
</tr>