<tr>
	<td><input type="checkbox" class="post_<%= post.current_token %>" id="post_<%= post.id %>" name="post_ids[]" value="<%= post.id %>" />
	<td><%= link_to h(post.title), post.permlink, {:target => "_blank"} %></td>
	<td><%= post.current_status %></td>
</tr>