<% content_for(:head) do %>
	<%= stylesheet_link_tag 'post_authorities'%>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<% end %>
<h1>Post Authorities</h1>
<% if @posts.blank? -%>
<p>
	No posts here!
</p>
<% else -%>
	<%= will_paginate @posts%>
	<div id="actions_dashboard">
		<button id="delete_selected_posts">Delete Selected</button> | 
		<a href="#" id="select_all_pending" class="select_all">All Pending</a>, 
		<a href="#" id="select_all_expired" class="select_all">All Expired</a>,
		<a href="#" id="select_all_valid" class="select_all">All Valid</a>,
		<a href="#" id="select_none">None</a> | 
		<span>Mark selected as&nbsp;</span>
		<select id="change_post_authorities">
			<%= options_for_select PostAuthority.status_tokens_for_value_select << ["Select:", -1], -1%>
		</select>
		<!--span>Filter:</span>
		<select id="filter_post_authorities">
			<%#= options_for_select PostAuthority.status_tokens_for_value_select %>
		</select-->
	</div>
	<table cellspacing="0">
		<thead>
			<tr>
				<th scope="col" style="width:30px;">&nbsp;</th>
				<th scope="col" class="wide">Title</th>
				<th scope="col">Rails Version</th>
				<th scope="col">Module</th>
				<th scope="col">Status</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'post', :collection => @posts %>
		</tbody>
	</table>
<% end -%>
