= image_tag 'logo.png'

:textile
  h1. #{t :anyone_can_learn}
  
  #{t :informal_mission}
 
  h2. #{t :railsbridge_workshops}

  #{t :link_to_workshop_info}

  h2. #{t :guidelines_title}

  * #{t :tagline}
  * #{t :bridge_the_gap_guideline}
  * #{t :reach_out_guideline}
  * #{t :collaborate_guideline}

  h2. #{ t :railsbridge_projects}

  * "Open Workshops Project":http://wiki.railsbridge.org/projects/railsbridge/wiki/Workshops (Sarah Mei, sarahmei at gmail dot com)
  * "Rails BugMash":http://wiki.railsbridge.org/projects/railsbridge/wiki/BugMash (Dan Pickett, Dan dot Pickett at gmail dot com)
  * <a href="http://teachingkids.railsbridge.org">Teaching Ruby to Kids</a> (Sarah Allen, sarah at ultrasaurus dot com)
  * <a href="http://www.railsmentors.org">Online Mentoring</a> (Brian Hogan, bphogan at gmail dot com)
  * Code Reviews for Students (<a href="mailto:MikeG1@larkfarm.com">Mike Gunderloy</a>)
  * "RailsBridge Builders":http://builders.railsbridge.org/ (<a href="mailto:builders@railsbridge.org">Mike Breen<a/>)
  * "RailsBridge Wiki":http://wiki.railsbridge.org/ (<a href="mailto:jeffrey.schoolcraft@gmail.com">Jeff Schoolcraft</a>)

  h2. #{ t :get_involved}

  #{ t :need_help}

  * #{t :join_list}
    ** <a href='http://groups.google.com/group/railsbridge'>#{ t :english }</a>
    ** <a href='http://groups.google.com/group/railsbridge-espanol'>#{ t :spanish }</a>
  * #{t :irc_channel} <a href="http://freenode.net/">Freenode</a>
  * #{t :help_current_project}
  * #{t :propose_projects}
  * #{t :twitter_follow} <a href="http://twitter.com/railsbridge">Twitter</a>
  * #{t :work_community}

%form{ :action => "http://groups.google.com/group/railsbridge/boxsubscribe" }
  %input{ :type => "hidden", :name => "hl", :value => "en" }
  %h4 #{t :subscribe}
  %p #{t :email_address}:
  %input{ :type => "text", :name => "email", :size => 35 }
  %input{ :type => "submit", :name => "sub", :value => "Subscribe"}

