<div id="fullWidthContainer">
<div id="leftContainer">
	<h1 class="redMarking">Rails<strong>Bridge</strong> guidelines are</h1>
	<p><span class="highlight">First, do no harm.</span> Then, help where you can.</p>
	<p><span class="highlight">Bridge the gap</span> from aspiring developer to contributing community member through mentoring, teaching &amp; writing.</p>
	<p><span class="highlight">Reach out</span> to individuals and groups who are underrepresented in the community.</p>
	<p><span class="highlight">Collaborate</span> with other groups with similar goals.</p>
	<hr />
	<h2 class="redMarking"><strong>News</strong></h2>
	
	<% @news_items.each do |news_item| %>
  	<h3><%= link_to "<span class='date'>#{news_item.created_at.strftime('%m.%d.%y')}</span>" + news_item.headline, news_item %></h3>
  	<p>
      <%= textilize_without_paragraph news_item.lede %> <%= link_to("more &raquo;", news_item) if !news_item.body.blank? %>
  	</p>
  <% end %>
	
	<p class="allNews"><%= link_to "View all news &raquo;", news_items_path %></p>
	<hr />
	<form id="subscribe" action='http://groups.google.com/group/railsbridge/boxsubscribe' >
		<p>
			<label for="subscribe">Subscribe to the RailsBridge Group at Google</label>
			<input class="subscribe" id="email" type="text" name="email" title="Type your e-mail address." />
			<input type="submit" class="subscribeButton" value="Subscribe" />
		</p>
	</form>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	  <label>Donate to RailsBridge via PayPal</label><br />
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="7054082">
    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
</div>
<div id="rightContainer">

  <div class="contentBox">
  	<div class="subTitleHolder">
  		<div class="subTitle"><h2><strong>RailsBridge</strong> Projects</h2></div><div class="subTitleLink"><%= link_to "View all Projects &raquo;", projects_path %></div>
  	</div>
  	<ul>
  	  <% @projects[0..2].each_with_index do |project, i| %>
    		<li class="<%= 'last' if i==2 %>">
    		  <%= link_to image_tag(project.site_image.url(:thumb), :size => "140x81", :alt => project.name), project.link %>
    			<h3><%= project.name %></h3>
    			<p><%= project.short_description %></p>
				<div class="projectLinks">
					<%= link_to "Visit Site", project.link %> | <%= link_to "More details &raquo;", project %>
				</div>
    		</li>
  		<% end %>
  	</ul>
  </div>

  <div class="contentBox">
  	<div class="subTitleHolder">
  		<div class="subTitle"><h2>Choose a project and <strong><%= link_to "Get Involved", help_path %></h2></div>
  	</div>
  	<ul>
  	  <% @projects[3..5].each_with_index do |project, i| %>
    		<li class="<%= 'last' if i==2 %>">
    		  <%= link_to image_tag(project.site_image.url(:thumb), :size => "140x81", :alt => project.name), project.link %>
    			<h3><%= project.name %></h3>
    			<p><%= project.short_description %></p>
				<div class="projectLinks">
					<%= link_to "Visit Site", project.link %> | <%= link_to "More details &raquo;", project %>
				</div>
    		</li>
  		<% end %>
  	</ul>
  </div>

  <div class="contentBox last">
  	<div class="subTitleHolder">
  		<div class="subTitle"><h2><strong>Twitter</strong> Updates</h2></div>
		<div class="twitterBird subTitleLink"><a href="http://twitter.com/railsbridge" id="twitterLink" class="right">Follow <strong>RailsBridge</strong> on Twitter</a></div>
	</div>
      	<div id="twitter">
      	  <!-- <ul id="twitter_update_list"></ul>-->
		  <%= image_tag("loader.gif", :id => "twitterPreloader", :alt => "Pre-loader", :size => "128x15") %>
		  <div id="twitterList" style="display: none;"></div>
      	</div>
  </div>

</div>
</div>
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/railsbridge.json?callback=twitterCallback2&amp;count=3"></script>