<h1>RailsBridge Sponsors:</h1>
<p>
  <span class="redMarking strong">RailsBridge</span> is directly supported by donations from RailsBridge members. We are not yet a tax-deductible organization, but our application for 501c3
  status is in progress. If you're interested in donating in advance of 501c3 approval, we can accept checks or PayPal payments; please contact our 
  Treasurer, <%= mail_to "djones@larkfarm.com", "Dana Jones", :encode => "javascript" %> if you are interested in donating - or just use PayPal to send donations
  directly to donations@railsbridge.org .
</p>
<p>
  <span class="redMarking strong">RailsBridge</span> would like to thank the people and organizations who are contributing to our success, including:
</p>
<div class="sponsors">
  <%= sponsor "http://www.github.com","github.png","GitHub - Social code hosting",
  "GitHub is providing a free account for RailsBridge to host our projects, including some work that we are doing for Builders clients." %>
  <%= sponsor "http://www.lessaccounting.com","lessaccounting.png","LessAccounting - Finally, Stress-Free Accounting!",
  "LessAccounting is providing a free account for RailsBridge to keep track of our bookkeeping." %>
  <%= sponsor "http://www.railsrumble.com","railsrumble.png","RailsRumble",
  "The 2009 Rails Rumble made RailsBridge one of the organizations that you could sponsor as part of your entry fee, bringing in numerous donations." %>
  <%= sponsor "http://www.francetelecom.com/en_EN/","orangelabs.png","Orange Labs",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "http://vodpod.com","vodpod.png","Vodpod - Show the world your favorite videos",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "http://www.slideshare.net","slideshare.png","Slideshare - Present Yourself",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "http://www.laszlosystems.com/","laszlo.png","Laszlo Systems",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "http://pivotallabs.com/","pivotal.png","Pivotal Labs",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "http://www.sfwow.org/","sfwow.png","San Francisco Women on the Web",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "http://www.pearsoned.co.uk/Imprints/Addison-Wesley/","aw.png","Addison-Wesley",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "http://www.manning.com/","manning.png","Manning Publications",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "http://www.balsamiq.com/","balsamiq.png","Balsamiq Studios - makers of plugins for Web Office applications",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "http://www.jetbrains.com/ruby/index.html","jetbrains.png","RubyMine - The most intelligent Ruby IDE",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "http://www.sustainablewebsites.com/","sustainable.png","Sustainable Websites Green Web Hosting",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "http://www.engineyard.com/","ey.png","Engine Yard - Deployment in the Cloud",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "http://www.alohaonrails.com/","aloha.png","Aloha on Rails - Hawaii Ruby on Rails Conference",
  "Host for full-day RailsBridge workshop in October 2009." %>
  <%= sponsor "http://www.alohaonrails.com/sponsorship/ibm/","ibm.png","IBM",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "http://www.heroku.com","heroku_logo.png","Heroku",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "http://www.hashrocket.com","hashrocket.png","Hashrocket",
  "Sponsor for the Rails workshops." %>
  <%= sponsor "hhttp://thoughtbot.com/","thoughtbot.png","thoughtbot",
  "Sponsor for the August 2009 BugMash." %>
  <%= sponsor "http://www.purpleworkshops.com/public","purple.png","Purple Workshops",
  "Sponsor for the August 2009 BugMash." %>
  <%= sponsor "http://www.pragprog.com/titles/mmfacer","facebook_apps.png","Developing Facebook Platform Applications with Rails",
  "Sponsor for the August 2009 BugMash." %>
  <%= sponsor "http://railsrescuebook.com","rrh.png","Rails Rescue Handbook",
  "Sponsor for the August 2009 BugMash." %>
  <%= sponsor "http://www.railsrx.com/","rtp.png","Rails Test Prescriptions",
  "Sponsor for the August 2009 BugMash." %>
  <%= sponsor "http://manning.com/mcanally","rip.png","Ruby in Practice",
  "Sponsor for the August 2009 BugMash." %>
  <%= sponsor "http://prgmr.com/","prgmr.png","Prgmr",
  "Sponsor for the August 2009 BugMash." %>
  <%= sponsor "http://www.entp.com","lighthouse.png","ENTP",
  "Sponsor for the August 2009 BugMash." %>
  <%= sponsor "http://www.actionrails.com","actionrails.png","ActionRails",
  "Sponsor for the August 2009 BugMash." %>
  <%= sponsor "http://rimuhosting.com/rails-hosting?r=d9244e731884484c47e7ecf19568251b","rimuhosting.png","RimuHosting",
  "Sponsor for the August 2009 BugMash." %>
  <%= sponsor "http://getexceptional.com/","exceptional.png","Exceptional",
  "Sponsor for the August 2009 BugMash." %>
  <%= sponsor "http://devver.net/","devver.png","Devver",
  "Sponsor for the August 2009 BugMash." %>
</div>
