<h1>RailsBridge Sponsors:</h1>
<p>
  <span class="redMarking strong">RailsBridge</span> is directly supported by donations from RailsBridge members. We are not yet a tax-deductible organization, but our application for 501c3
  status is in progress. If you're interested in donating in advance of 501c3 approval, we can accept checks or PayPal payments; please contact our 
  Treasurer, <%= mail_to "djones@larkfarm.com", "Dana Jones", :encode => "javascript" %> if you are interested in donating - or just use PayPal to send donations
  directly to donations@railsbridge.org .
</p>
<p>
  <span class="redMarking strong">RailsBridge</span> would like to thank the people and organizations who are contributing to our success, including:
</p>
<div class="sponsors">
  <%= sponsor "http://www.github.com","github.png","GitHub - Social code hosting",
  "GitHub is providing a free account for RailsBridge to host our projects, including some work that we are doing for Builders clients." %>
  <%= sponsor "http://www.lessaccounting.com","lessaccounting.png","LessAccounting - Finally, Stress-Free Accounting!",
  "LessAccounting is providing a free account for RailsBridge to keep track of our bookkeeping." %>
  <%= sponsor "http://www.railsrumble.com","railsrumble.png","RailsRumble",
  "The 2009 Rails Rumble made RailsBridge one of the organizations that you could sponsor as part of your entry fee, bringing in numerous donations." %>
  <%= sponsor "http://www.francetelecom.com/en_EN/","orangelabs.png","Orange Labs",
  "Sponsor for the June 2009 workshops in San Francisco." %>
  <%= sponsor "http://vodpod.com","vodpod.png","Vodpod - Show the world your favorite videos",
  "Sponsor for the June 2009 workshops in San Francisco." %>
  <%= sponsor "http://www.slideshare.net","slideshare.png","Slideshare - Present Yourself",
  "Sponsor for the June 2009 workshops in San Francisco." %>
  <%= sponsor "http://www.laszlosystems.com/","laszlo.png","Laszlo Systems",
  "Sponsor for the June 2009 workshops in San Francisco." %>
  <%= sponsor "http://pivotallabs.com/","pivotal.png","Pivotal Labs",
  "Sponsor for the June 2009 and July/August 2009 workshops in San Francisco." %>
  <%= sponsor "http://www.sfwow.org/","sfwow.png","San Francisco Women on the Web",
  "Sponsor for the June 2009 workshops in San Francisco." %>
  <%= sponsor "http://www.pearsoned.co.uk/Imprints/Addison-Wesley/","aw.png","Addison-Wesley",
  "Sponsor for the June 2009 workshops in San Francisco." %>
  <%= sponsor "http://www.manning.com/","manning.png","Manning Publications",
  "Sponsor for the June 2009 workshops in San Francisco." %>
  <%= sponsor "http://www.balsamiq.com/","balsamiq.png","Balsamiq Studios - makers of plugins for Web Office applications",
  "Sponsor for the June 2009 workshops in San Francisco." %>
  <%= sponsor "http://www.jetbrains.com/ruby/index.html","jetbrains.png","RubyMine - The most intelligent Ruby IDE",
  "Sponsor for the June 2009 workshops in San Francisco." %>
  <%= sponsor "http://www.sustainablewebsites.com/","sustainable.png","Sustainable Websites Green Web Hosting",
  "Sponsor for the June 2009 workshops in San Francisco." %>
  <%= sponsor "http://www.engineyard.com/","ey.png","Engine Yard - Deployment in the Cloud",
  "Sponsor for the July/August 2009 workshops in San Francisco." %>
  <%= sponsor "http://www.alohaonrails.com/","aloha.png","Aloha on Rails - Hawaii Ruby on Rails Conference",
  "Host for full-day RailsBridge workshop in October 2009." %>
  <%= sponsor "http://www.alohaonrails.com/sponsorship/ibm/","ibm.png","IBM",
  "Sponsor for the full-day RailsBridge workshop at Aloha on Rails in October 2009." %>
</div>
