<div id="fullWidthContainer">
  <h1 class="redMarking">Rails<strong>Bridge</strong> projects</h1>

  <% @projects.each do |project| %>
    <div class="project">
      <h2><strong><%= h project.name %></strong></h2>
		<div class="imgHolder">
		  <%= image_tag project.site_image.url(:small) %>
		</div>
		<div class="projectContent">
		<p>
        <%=h project.short_description %>
		</p>

      <p>
        Team Lead: <%= mail_to project.team_lead_email, project.team_lead, :encode => "javascript" %>
      </p>
      <div class="projectLinks">
        <%= link_to "Visit Site", project.link %> | <%= link_to "More details &raquo;", project %>
      </div>
    <% team_lead_only do %>
      <div class="admin_links">
        <%= link_to 'Edit project', edit_project_path(project) %> | <%= link_to "Delete project", project, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    <% end %>
	 </div>
	</div>
  <% end %>

  <% team_lead_only do %>
    <div class="admin_links">
      <%= link_to 'New project', new_project_path %>
    </div>
  <% end %>
</div>