<div id="fullWidthContainer">
  <h1 class="redMarking"><strong><%=h @project.name %></strong></h1>
  <div class="projectDetails">
    <%= image_tag @project.site_image.url(:medium) %>
    <p>
      Team Lead: <%= mail_to @project.team_lead_email, @project.team_lead, :encode => "javascript" %>
    </p>
    <div class="projectLinks">
      <%=h @project.link %> 
	&rarr; <%= link_to "Visit the Site", @project.link %>
    </div>
  </div>
  <div id="projectLongDescription">
      <%= textilize @project.long_description %>
  </div>

  <% team_lead_only do %>
    <div class="admin_links">
      <%= link_to 'Edit', edit_project_path(@project) %> |
      <%= link_to 'Back', projects_path %>
    </div>
  <% end %>
</div>